
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="panel-primary">
    <div class="panel-heading">Данные пользователей</div>
    <table class="table table-striped">
        @foreach(string key in Model.Keys)
        {
            <tr>
                <th>@key</th>
                <th>@Model[key]</th>
            </tr>
        }
    </table>
</div>

