@using TestIdentity.Models
@using TestIdentity.Infrastructure
@model IEnumerable<AppRole>

@{
    ViewBag.Title = "Роли";
}

<h2>Роли</h2>

<div class="panel-primary">
    <div class="panel-heading">Roles</div>
</div>

